.swiper-container{
    width: 800px;
    height: auto;
    min-height: 300px;
    position: relative;
    margin: 150px auto;
    overflow-x: hidden;
}
.swiper-container .swiper-slide{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:300px;
    background-color: red;
    color: #fff;
}
